<div  id="create" >
<!--<div  id="create">-->



<div class="container-fluid">
<form class="form-horizontal" id="form-patient">

<legend>Authentication</legend>
<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="firstName">Username</label>
                    <div class="controls">
                        <input type="text" ng-model="username" id="username" >
                    </div>
                </div>
            </div><!--/span-->

            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="firstName">Mail</label>
                    <div class="controls">
                        <input type="text" ng-model="mail" id="mail" >
                    </div>
                </div>
            </div><!--/span-->
        </div>
    </div>
</div>


<legend>Person Form</legend>
<div class="row-fluid">
    <div class="span8">
        <!--<div class="row-fluid">-->
        <!--<div class="span12 bgcolor">-->
        <!--<div class="alert alert-error">-->
        <!--<a href="#" class="close" data-dismiss="alert">×</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" ng-model="first_name" id="firstName" >
                    </div>
                </div>
            </div><!--/span-->
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" ng-model="last_name" id="lastName" >
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="gender">Gender</label>
                    <div class="controls">
                        <select ng-model="gender" id="gender">
                            <option  value="male" selected="selected" >Male </option>
                            <option  value="female" >Female </option>
                        </select>                                    </div>
                </div>
            </div><!--/span-->

            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <select id="title" ng-model="title" name="title">
                            <option value="Mr."> Mr.</option>
                            <option value="Mrs."> Mrs.</option>
                            <option value="Miss"> Miss</option>
                            <option value="Ms."> Ms.</option>
                        </select>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="birth">Date of Birth</label>
                    <div class="controls">
                        <input type="text" ng-model="birth" id="birth" >
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div>
</div>

<legend>Address</legend>
<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
            <div class="span12 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="street_address">Street</label>
                    <div class="controls">
                        <input type="text" class="input-xxlarge" ng-model="street_address" id="street_address">
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <input type="text" ng-model="city" id="city">
                    </div>
                </div>
            </div><!--/span-->
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="sstate">State</label>
                    <div class="controls">
                        <input type="text" ng-model="sstate" id="sstate">
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="postCode">Post Code</label>
                    <div class="controls">
                        <input type="text" ng-model="zip_code" id="postCode">
                    </div>
                </div>
            </div><!--/span-->


        </div><!--/span-->
    </div><!--/row-->
</div>


<legend>Medical info</legend>
<div class="row-fluid">
    <div class="span8">
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="date_discharge">Date Discharge</label>
                    <div class="controls">
                        <input type="text" ng-model="date_discharge"  id="date_discharge">
                    </div>
                </div>
            </div><!--/span-->
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="date_admission">Date Admission</label>
                    <div class="controls">
                        <input type="text" ng-model="date_admission"  id="date_admission">
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="postCode"> Using RecoverLink application</label>
                    <div class="controls">
                        <input type="checkbox"  ng-model="usingApp" class="input-xlarge">
                    </div>
                </div>
            </div><!--/span-->
            <div class="span6 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="mnr">MNR</label>
                    <div class="controls">
                        <input type="text" ng-model="mnr"  id="mnr">
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="doctor_info">Doctor info</label>
                    <div class="controls">
                        <textarea  id="doctor_info" class="field span12"  rows="5" cols="70"  ng-model="doctor_info" ></textarea>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->
        <div class="row-fluid">
            <div class="span12 bgcolor">
                <div class="control-group">
                    <label class="control-label" for="caregiver_info">Caregiver info</label>
                    <div class="controls">
                        <textarea id="caregiver_info" class="field span12"  rows="5" cols="70"  ng-model="caregiver_info" ></textarea>
                    </div>
                </div>
            </div><!--/span-->
        </div><!--/row-->

    </div><!--/span-->

    <div class="span4">

    </div><!--/span-->
</div><!--/row-->

<button ng-click="save()" class="btn btn-primary" >Update</button>

</form>
</div>

<!--
<form id="tab">
    <form id="tab" ng-submit="createPatient()">

        <label>Username</label>
        <input type="text" value="" ng-model="username" class="input-xlarge">
        <label>First Name</label>
        <input type="text" value="" ng-model="first_name" class="input-xlarge">
        <label>Last Name</label>
        <input type="text" value="" ng-model="last_name" class="input-xlarge">
        <label>Email</label>
        <input type="text" value="" ng-model="mail" class="input-xlarge">
        <label>Password</label>
        <input type="text" value="" ng-model="password" class="input-xlarge">

        <label>MNR</label>
        <input type="text" value="" ng-model="mnr" class="input-xlarge">
        <label>Is Patient using RecoverLink app at home</label>
        <input type="checkbox"  ng-model="usingApp" class="input-xlarge">
        <label>Gender</label>
        <select ng-model="gender">
            <option  value="male" selected="selected" >Male </option>
            <option  value="female" >Female </option>
        </select>
        <label>Date of Admission</label>
        <input type="text"  id="dateAdmission" ng-model="date_admission"  class="input-xlarge">
        <label>Date of discharge</label>
        <input type="text"  id="dateDischarge" ng-model="date_discharge"  class="input-xlarge">
        <label>Caregiver info</label>
        <textarea type="text"  ng-model="caregiver_info" class="input-xlarge"></textarea>
        <label>Doctor info</label>
        <textarea type="text"  ng-model="doctor_info" class="input-xlarge"></textarea>




        <br />
    </form>

-->

</div>
