

<div id="list-patient"  >

        <tabs >
            <pane heading="New Patient" >
                <div id="tabs1" >
                    <table class="table table-striped">
                        <th class="name">Name</th>
                        <th class="name">Gender</th>
                        <th class="name">MNR</th>
                        <th>Admitted</th>
                        <th>Discharged</th>
                        <th>Status</th>

                        <tr ng-repeat="patient in patients" ng-click="details(patient)">
                            <td class="name">{{patient.first_name}} {{patient.last_name}}</td>
                            <td class="name">{{patient.gender}}</td>
                            <td class="name">{{patient.mnr}}</td>
                            <td class="name">{{patient.date_admission}}</td>
                            <td class="name">{{patient.date_discharge}}</td>
                            <td class="name">{{patient.status}}</td>
                            <!--<td class="name">{{patient.risk}}</td>-->
                            <!--<td class="name"> <button ng-click="details(35)">Details</button></td>-->
                        </tr>
                    </table>
                    </div>
            </pane>
            <pane id="tabs2" heading="Cases Currently being managed ">
                <div id="list-patient2"   >
                    <table class="table table-striped">
                        <th class="name">Name</th>
                        <th class="name">Gender</th>
                        <th class="name">MNR</th>
                        <th>Admitted</th>
                        <th>Discharged</th>
                        <th>Status</th>


                        <tr ng-repeat="patient in patients2" ng-click="details(patient)">
                            <td class="name">{{patient.first_name}} {{patient.last_name}}</td>
                            <td class="name">{{patient.gender}}</td>
                            <td class="name">{{patient.mnr}}</td>
                            <td class="name">{{patient.date_admission}}</td>
                            <td class="name">{{patient.date_discharge}}</td>
                            <td class="name">{{patient.status}}</td>

                            <!--<td class="name">{{patient.risk}}</td>-->
                            <!--<td class="name"> <button ng-click="details(35)">Details</button></td>-->
                        </tr>
                    </table>
                </div>
            </pane>
            <pane heading="De-enrolled patient">
                <div id="list-patient3"  >
                    <table class="table table-striped">
                        <th class="name">Name</th>
                        <th class="name">Gender</th>
                        <th class="name">MNR</th>
                        <th>Admitted</th>
                        <th>Discharged</th>
                        <th>Status</th>

                        <tr ng-repeat="patient in patients3" ng-click="details(patient)">
                            <td class="name">{{patient.first_name}} {{patient.last_name}}</td>
                            <td class="name">{{patient.gender}}</td>
                            <td class="name">{{patient.mnr}}</td>
                            <td class="name">{{patient.date_admission}}</td>
                            <td class="name">{{patient.date_discharge}}</td>
                            <td class="name">{{patient.status}}</td>
                            <!--<td class="name">{{patient.risk}}</td>-->
                            <!--<td class="name"> <button ng-click="details(35)">Details</button></td>-->
                        </tr>
                    </table>
                </div>

            </pane>

        </tabs>




    <button ng-click="createPatient()" class="btn">Create patient</button>

</div>
