<div id="list-user"  >
    <div class="user">
        <table class="table table-striped">

            <th class="name">id</th>
            <th class="name">Username</th>
            <th class="name">email</th>
            <th class="name">First Name</th>
            <th class="name">Last Name</th>
            <th class="name">Acces control</th>

            <tr ng-repeat="user in users" ng-click="edit()">
                <td class="name" >{{user.ID_user}}</td>
                <td class="name">{{user.username}}</td>
                <td class="name">{{user.mail}}</td>
                <td class="name">{{user.first_name}}</td>
                <td class="name">{{user.last_name}}</td>
                <td class="name">{{user.role_name}}</td>
            </tr>
        </table>

    </div>
    <button ng-click="createUser()">Create User</button>

</div>


