<form>
    <div class="row" id="selectBar">
        <div class="large-12 columns">
            <label>Choose a Bar!</label>
            <select ng-model="bar" ng-options="bar.name for bar in bars">
                <option value="">-- choose bar --</option>
            </select>
            <span id="barId" ng-model="bar._id">{{bar._id}}</span>
            <label>Date</label>
            <input type="text"  ng-model="barData.date" required>
            <label>Time</label>
            <input type="text"  ng-model="barData.time" required>
            <label>Sponsor</label>
            <input type="text" ng-model="barData.sponsor" required>
        </div>
        <button ng-click="createEvent()">Save Event</button>

    </div>
</form>